In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

usage = pd.read_parquet("../../data/arxiv-usage.parquet")

usage

                   1
0
2024-01-01  43626111
2024-01-02  54640750
2024-01-03  56101036
2024-01-04  50084378
2024-01-05  48182775
...              ...
2025-04-06  42500085
2025-04-07  57708551
2025-04-08  57728496
2025-04-09  56104215
2025-04-10  53120177

[466 rows x 1 columns]

In [2]:
totals = pd.read_parquet("../../data/arxiv-totals.parquet")

totals

,hep-th,physics.pop-ph,math.LO,math.FA,math.MG,cs.CC,math.CO,math.PR,math.DS,cs.GR,...,econ.EM,stat.CO,stat.OT,q-fin.EC,eess.SY,econ.GN,eess.AS,eess.IV,eess.SP,q-fin.MF
date,,,,,,,,,,,,,,,,,,,,,
1986-04-25,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1988-11-11,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1989-04-15,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1989-10-26,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1989-11-09,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-04-06,5.0,0.0,4.0,3.0,2.0,2.0,11.0,4.0,4.0,4.0,...,1.0,2.0,0.0,1.0,16.0,1.0,3.0,5.0,8.0,0.0
2025-04-07,23.0,1.0,5.0,16.0,6.0,8.0,18.0,18.0,11.0,10.0,...,2.0,2.0,1.0,3.0,29.0,3.0,5.0,10.0,25.0,0.0
2025-04-08,34.0,0.0,1.0,6.0,3.0,3.0,18.0,17.0,12.0,6.0,...,2.0,1.0,0.0,3.0,35.0,3.0,6.0,14.0,13.0,2.0
2025-04-09,21.0,1.0,4.0,11.0,2.0,4.0,18.0,15.0,14.0,4.0,...,1.0,2.0,2.0,2.0,23.0,2.0,4.0,7.0,11.0,3.0
2025-04-10,18.0,0.0,1.0,7.0,1.0,2.0,14.0,10.0,7.0,2.0,...,0.0,3.0,1.0,4.0,16.0,4.0,3.0,12.0,20.0,0.0

In [4]:
# Ensure the index is in datetime format (if not already)
totals.index = pd.to_datetime(totals.index)

# Filter the DataFrame from 2024-01-01 onwards
totals_recent = totals.loc[totals.index >= "2024-01-01"]

totals_recent

,hep-th,physics.pop-ph,math.LO,math.FA,math.MG,cs.CC,math.CO,math.PR,math.DS,cs.GR,...,econ.EM,stat.CO,stat.OT,q-fin.EC,eess.SY,econ.GN,eess.AS,eess.IV,eess.SP,q-fin.MF
date,,,,,,,,,,,,,,,,,,,,,
2024-01-01,10.0,0.0,1.0,5.0,4.0,1.0,16.0,10.0,9.0,3.0,...,1.0,4.0,0.0,1.0,8.0,1.0,4.0,9.0,6.0,1.0
2024-01-02,12.0,0.0,2.0,8.0,0.0,4.0,13.0,6.0,7.0,3.0,...,1.0,1.0,0.0,2.0,9.0,2.0,5.0,7.0,12.0,0.0
2024-01-03,17.0,0.0,2.0,10.0,3.0,2.0,19.0,13.0,6.0,3.0,...,3.0,2.0,1.0,0.0,10.0,0.0,7.0,9.0,19.0,1.0
2024-01-04,18.0,2.0,2.0,3.0,1.0,1.0,15.0,5.0,13.0,2.0,...,0.0,3.0,1.0,4.0,13.0,4.0,14.0,10.0,13.0,0.0
2024-01-05,13.0,0.0,4.0,3.0,2.0,0.0,10.0,6.0,8.0,4.0,...,1.0,1.0,0.0,0.0,8.0,0.0,8.0,9.0,14.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-04-06,5.0,0.0,4.0,3.0,2.0,2.0,11.0,4.0,4.0,4.0,...,1.0,2.0,0.0,1.0,16.0,1.0,3.0,5.0,8.0,0.0
2025-04-07,23.0,1.0,5.0,16.0,6.0,8.0,18.0,18.0,11.0,10.0,...,2.0,2.0,1.0,3.0,29.0,3.0,5.0,10.0,25.0,0.0
2025-04-08,34.0,0.0,1.0,6.0,3.0,3.0,18.0,17.0,12.0,6.0,...,2.0,1.0,0.0,3.0,35.0,3.0,6.0,14.0,13.0,2.0
2025-04-09,21.0,1.0,4.0,11.0,2.0,4.0,18.0,15.0,14.0,4.0,...,1.0,2.0,2.0,2.0,23.0,2.0,4.0,7.0,11.0,3.0
2025-04-10,18.0,0.0,1.0,7.0,1.0,2.0,14.0,10.0,7.0,2.0,...,0.0,3.0,1.0,4.0,16.0,4.0,3.0,12.0,20.0,0.0

In [6]:
# Sum across columns (i.e., across all categories) for each row (i.e., each date)
totals_sum = totals_recent.sum(axis=1)

# Convert the resulting Series into a DataFrame with a meaningful column name
totals_sum_df = totals_sum.to_frame(name="total_appearances")

totals_sum_df

            total_appearances
date
2024-01-01              591.0
2024-01-02              825.0
2024-01-03             1002.0
2024-01-04             1060.0
2024-01-05              928.0
...                       ...
2025-04-06              628.0
2025-04-07             1636.0
2025-04-08             1560.0
2025-04-09             1377.0
2025-04-10             1047.0

[466 rows x 1 columns]

In [7]:
# Join the two on the index (i.e., date)
combined = totals_sum_df.join(usage, how="inner")

# Compute correlation between the columns
correlation = combined.corr().iloc[0, 1]  # correlation between 'total_articles' and usage column
print(f"Correlation: {correlation:.4f}")

Correlation: 0.2482

In [10]:
from scipy.stats import pearsonr

# Flatten to 1D if needed
x = totals_sum_df["total_appearances"].values.flatten()
y = usage.values.flatten()

# Compute Pearson correlation
r, p_value = pearsonr(x, y)

# Print result
print(f"Correlation: {float(r):.4f}, p-value: {float(p_value):.4e}")

Correlation: 0.2482, p-value: 5.7026e-08